
html, body {
    margin:0px;
    height:100%;
    background-color: #160A41;
  }

.background{
    outline: none;
    padding: 0px;
}

.profile-display{
  display:flex;
  flex-direction: column;
  padding-top: 40%;
  padding-left: 10%;
}

