.signup-form-wrapper{
    color: #8A83AB;
    margin-top: 1rem;
}

.signup-form{
    margin-bottom: 2rem;
        padding-left: 2rem;
    
    }


.signup-btn{
    margin-top: 1rem;
    margin-left: 2rem !important;

}

.error{
    color:  #E70342;
}

.link{
    margin-left: 2rem;
}



