.signup-form-wrapper{
    border: 1px solid black;
    width: 20%;
    justify-items: center;
}

.signup-form{
    border: 1px  black;
    margin: 1rem .5rem;
}

.signup-btn{
    margin-top: 1rem;
}

.error{
    color: #61063F;
}